{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Validateit plugin for Craft CMS
 *
 * ValidateitField Field Settings
 *
 * @author    Pressed Digital
 * @copyright Copyright (c) 2018 Pressed Digital
 * @link      https://pressed.digital
 * @package   Validateit
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: 'Type'|t('validateit'),
    instructions: 'What would you like to validate.'|t('validateit'),
    id: 'type',
    name: 'type',
    value: field.type,
    options: field.types,
    errors: field.getErrors('type'),
    toggle: true
}) }}

<div id="custom" class="{{ field.type != 'custom' ? 'hidden' }}">

    {{ forms.textField({
        label: 'Regex'|t('validateit'),
        instructions: 'Validate this field with a custom regex rule.'|t('validateit'),
        id: 'regex',
        name: 'regex',
        value: field.regex,
        errors: field.getErrors('regex')
    }) }}

</div>

{{ forms.textField({
    label: 'Validation Message'|t('validateit'),
    instructions: 'Override the default validation message displayed on failed validation.'|t('validateit'),
    id: 'message',
    name: 'message',
    value: field.message,
    errors: field.getErrors('message')
}) }}

{{ forms.textField({
    label: 'Placeholder'|t('validateit'),
    instructions: 'Override the default input placeholder.'|t('validateit'),
    id: 'placeholder',
    name: 'placeholder',
    value: field.placeholder,
    errors: field.getErrors('placeholder')
}) }}
